//Variebles de fuentes
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$principalFont: "Inter", sans-serif;
$secondartFont: "Gochi Hand", cursive;

//Media queris
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;

//colores
$primary: #666565;
$secondary: white;
$colorFont: #666565;
$insertBtn:#BAE1F7;
$insertBtnHover:#77a7c3;
$todo: #F7E2BA;
$done: #C1F7BA;
$deleteBtn: #F46467;
$deleteBtnHover: #bf4446;
$bg: #ECECEC;